.icons {
  position: fixed;
  top: 30%;
  left: 0%;
  width: 200px;
  display: flex;
  flex-direction: column;
  z-index: 99;
}

.icons a {
  text-decoration: none;
  text-transform: uppercase;
  padding: 10px;
  font-size: 22px;
  font-family: "Oswald", sans-serif;
  margin: 2px;
  text-align: right;
  border-radius: 0px 50px 50px 0px;
  transform: translate(-130px, 0px);
  transition: all 0.5s;
}

.icons a:hover {
  transform: translate(0px, 0px);
}

.icons a i {
  margin-left: 25px;
  background-color: white;
  height: 40px;
  width: 40px;
  color: black;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  transition: all 0.5s;
}

.icons a:hover i {
  transform: rotate(360deg);
}

.icons a i.fa-phone-alt {
  color: #0180ff;
}

.icons a i.fa-whatsapp {
  color: #16a349;
}

.phone {
  background-color: #2c80d3;
  color: white;
}

.whatsapp {
  background-color: #16a349;
  color: white;
}
